body {
    line-height:1.3em;
    font:16px/1.3em 'PT Sans Narrow',Arial,Helvetica,sans-serif !important;
    color:#1a1a18;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    outline:0;
    margin:0;
    padding:0;
}

header{
    overflow: hidden;
}

img {
    vertical-align:bottom;
    max-width:100%;
    height:auto;
}

button {
    cursor:pointer;
    border:none;
}

ol,ul {
    list-style:none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:none;
}

blockquote,q {
    quotes:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

a {
    color:#01a58d;
    text-decoration:underline;
}

.clear {
    clear:both;
}

.clearfix {
    _height:1%;
    _overflow:visible;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    line-height:0;
    font-size:0;
}

* html .clearfix {
    height:1%;
}

html,body {
    width:100%;
    height:100%;
}

* {
    word-wrap:break-word;
}


h1 {
    color:#01a58d;
    font-size:1.875em;
    text-shadow:0 1px 0 #fff;
    text-transform:uppercase;
    margin-bottom:.6666em;
}

.some-text p {
    margin-bottom:.625em;
    line-height:1.1em;
    font-size:1.2em;
    text-align:justify;
}

h2 {
    margin-bottom:.8em;
    line-height:1em;
    font-size:1.5625em;
}

h3 {
    color:#2f3d56;
    font-size:1.25em;
    margin-bottom:.72em;
}

h2,h3,h4 {
    color:#2f3d56;
    text-transform:uppercase;
    margin-bottom:10px;
}

h4 {
    font-size:1.125em;
}

h5 {
    font-size:1em;
    font-weight:700;
    margin-bottom:.3125em;
}

ul {
    margin-bottom:.625em;
}

.some-text ul li:before {
    content:'';
    display:inline-block;
    width:12px;
    height:9px;
    background:url(../img/sprite.png) no-repeat 0 -245px;
    margin-bottom:0;
    margin-right:10px;
}

input,textarea {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#fff;
    border:1px solid #c9c9c9;
    font-family:'PT Sans Narrow',Arial,Helvetica,sans-serif;
}

.movie-filter{
    float: right;
}

.movie-filter label{
    font-weight: bold;
    font-size: 16px;
}

.movie-filter select{
    font-size:1.125em;
    color:#959595;
    padding:0 2.2727%;
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    border-radius: 3px;
    margin-right: 5px;
}

.top-header {
    max-width:1240px;
    width:91%;
    padding-bottom:1.612%;
    margin:0 auto;
}

#logo {
    text-indent:-9999px;
    margin-top:10px;
    float:left;
    color:#01a58d;
    font-size:1.875em;
    text-shadow:0 1px 0 #fff;
    text-transform:uppercase;
    margin-bottom:0;
}

#logo a {
    display:block;
    width:191px;
    height:69px;
    background:url(../img/logo.png) no-repeat;
}

.top-header form {
    width:67.6129%;
    float:right;
    margin-top:30px;
    margin-right:10px;
}

.top-header form ul {
    width:100%;
    float:left;
    margin-left:10px;
}

.top-header form li {
    width:25%;
    float:left;
    margin-left:1.5625%;
}

.top-header form li:first-child {
    width:71.875%;
}

.top-header input {
    float:left;
    width:95.4545%;
    height:2.1em;
    line-height:2.5em;
    font-size:1.125em;
    color:#959595;
    padding:0 2.2727%;
}

.top-header button {
    font-size:1.125em;
    height:2.18em;
    background-color:#01a58d;
    line-height:1em;
    padding:0 10%;
    font-family: 'PT Sans Narrow', Arial, sans-serif;gh
}

.but1 {
    color:#fff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#01a58d;
    border-bottom:2px solid #006b4e;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
}

.but1:hover {
    color:#2f3d56;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
}

#main-nav {
    background-color:#f1f1f1;
    font-size:1.125em;
    border-bottom:1px solid #c9c9c9;
    position:relative;
    width:100%;
}

#main-nav hr {
    height:1px;
    background-color:#c9c9c9;
    margin:0;
}

#main-nav>ul {
    width:91%;
    max-width:1240px;
    font-size:1.1111em;
    margin:0 auto;
}

.point {
    position:absolute;
    top:6px;
    left:14%;
    width:14px;
    height:13px;
    background:url(../img/point.png) no-repeat;
}

.hover-element {
    display:none;
    position:absolute;
    top:2em;
    left:0;
    z-index:101;
    height:19px;
    width:100%;
}

#main-nav>ul>li>a {
    float:left;
    color:#1a1a18;
    text-decoration:none;
    padding:.6em 1em .7em;
}

.submenu {
    display:none;
    width:100%;
    position:absolute;
    top:2.99em;
    left:0;
    background-color:#ebebeb;
    font-size:.8em;
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    z-index:99;
}

.content-submenu {
    width:91%;
    max-width:1240px;
    margin:0 auto;
    padding:1.562em 0 2.0625em;
}

.content-submenu ul {
    display:inline-block;
    vertical-align:top;
    width:16%;
    padding-right:.8064%;
    margin-bottom:0;
}

.content-submenu ul:last-child {
    width:10.4838%;
    padding-right:0;
}

.content-submenu li {
    margin-bottom:.5em;
    position:relative;
}

.content-submenu li a {
    display:inline-block;
    padding-left:20px;
    position:relative;
    text-decoration:underline;
}

.content-submenu li i {
    display:inline-block;
    text-decoration:underline;
}

.content-submenu a:before,.content-submenu li.active a:before {
    content:'';
    position:absolute;
    top:2px;
    left:0;
    width:16px;
    height:16px;
    background:url(../img/movie.png) no-repeat;
}

#main-section {
    background-color:#e4e4e4;
    padding:20px 0;
}

.main-content {
    width:91%;
    max-width:1240px;
    min-height:300px;
    display:table;
    margin:0 auto;
}

.table-div .popular-movies-section {
    width:72.0161%;
}

.popular {
    width:100%;
    float:none;
}

.previews-section h3,.search-stars h3,.previews-section-h {
    font-size:1.5625em;
    color:#2f3d56;
    text-transform:uppercase;
    margin-bottom:.72em;
    text-shadow:0 1px 0 #fff;
}

.previews-section h3 a,.previews-section-h a {
    color:#2f3d56;
    text-decoration:none;
    display:inline-block;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
}

.previews-section h3 a:after,.previews-section-h a:after {
    content:'';
    display:inline-block;
    width:9px;
    height:17px;
    background:url(../img/sprite.png) no-repeat 0 -307px;
    position:relative;
    top:1px;
    margin-left:7px;
}

.previews-section h3 a:hover,.previews-section-h a:hover {
    color:#01a58d;
    transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
}

.previews-section h3 a:hover:after,.previews-section-h a:hover:after {
    background-position:0 -329px;
}

.popular-movies-section .previews li,.previews li,.filmography .previews li {
    display:inline-block;
    vertical-align:top;
    width:17.917133258%;
    text-align:center;
    margin:0 1.679731243% 1.22em 0;
}

.previews li {
    width:12.9032%;
    margin:0 1.20968% 1.22em 0;
}

.previews li a {
    color:#1a1a18;
    text-decoration:none;
    display:block;
    width:100%;
}

.previews li a figure {
    position:relative;
    width:100%;
    max-width:160px;
}

.previews li a figure>p img {
    max-width:100%;
    height:auto;
    max-height:237px;
}

.previews li a figcaption {
    width:100%;
    background-color:#fff;
    padding-bottom:3px;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
    min-height:40px;
}

.description {
    overflow:hidden;
    display:none;
    position:absolute;
    top:0;
    left:0;
    height:auto;
    color:#fff;
    width:100%;
    background-color:rgba(47,61,85,0.9);
    line-height:1.2em;
    padding:10px 0 40px;
}

.description p {
    margin-bottom:5px;
    padding:0 5px;
}

.description h6 {
    font-weight:700;
    margin-bottom:5px;
    padding:0 5px;
}

.cover {
    position:absolute;
    bottom:10px;
    right:0;
    background-color:#f2d251;
    font-size:14px;
    color:#2f3d56;
    font-weight:700;
    line-height:1.1em;
    z-index:90;
    padding:0 25px 0 10px;
}

.cover:after {
    content:'';
    position:absolute;
    right:2px;
    bottom:0;
    width:21px;
    height:21px;
    background:url(../img/star.png) no-repeat;
    z-index:99;
}

.previews li a:hover figcaption {
    background-color:#01a58d;
    color:#fff;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
}

.main-content aside {
    float:right;
    width:27.419354838%;
    font-size:1.125em;
    color:#fff;
    background-color:#01a58d;
    text-align:justify;
    position:relative;
    margin:0 0 1.25em;
    padding:.7777em 1.4516% .6888em;
}

.main-content aside:after {
    content:'';
    display:block;
    width:100%;
    height:19.52px;
    background-color:#e4e4e4;
    position:absolute;
    left:0;
    bottom:0;
}

.main-content aside h3 {
    font-size:1.3888em;
    text-align:center;
    margin-bottom:5px;
    line-height:1.3em;
}

.main-content aside p {
    margin-bottom:5px;
    line-height:1.2em;
}

.main-content aside p a {
    color:#fff;
}

.latest-movies-section {
    margin-top:20px;
    width:100%;
}

.info-section {
    background-color:#f1f1f1;
    width:100%;
}

.info-section-content {
    width:91%;
    max-width:1240px;
    display:table;
    margin:0 auto;
    padding:1.125em 0 1.25em;
}

.stars-born {
    width:62.9032%;
    border-right:1px solid #c9c9c9;
}

.stars-born iframe {
    float:left;
    margin-right:20px;
}

#twitter-widget-0 {
    width:360px!important;
    height:290px!important;
}

.info-section-content h4 {
    font-size:1.5625em;
    color:#01a58d;
    margin-bottom:.72em;
    cursor:pointer;
    text-transform:none;
}

.info-section-content h4 a {
    color:#01a58d;
    text-decoration:none;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
}

.info-section-content h4 a:hover {
    color:#2f3d56;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
    text-decoration:none;
}

.stars-born h4:after {
    content:'';
    display:inline-block;
    width:9px;
    height:17px;
    background:url(../img/sprite.png) no-repeat 0 -329px;
    position:relative;
    top:1px;
    margin-left:7px;
}

.table-div .column {
    float:none;
}

.stars-born li {
    display:inline-block;
    vertical-align:top;
    width:30.5128%;
    word-break:break-all;
    margin:0 2.125% .8em 0;
}

.born figure {
    float:left;
    margin-right:3.3333%;
    width:30.6722%;
    max-width:79px;
}

.content-article {
    float:left;
    padding-top:1.125em;
    color:#959595;
    width:60.9243%;
}

.content-article h6 {
    font-size:1.125em;
    color:#2f3d56;
}

.latest-coments-preview {
    padding-left:1.6129%;
    width:34.4838%;
}

.latest-coments-preview time {
    color:#959595;
}

#main-footer {
    color:#b7b7b7;
    width:100%;
}

.wreper-top-footer {
    border-bottom:1px solid #c9c9c9;
    width:100%;
}

.top-footer {
    width:91%;
    max-width:1240px;
    margin:0 auto;
    padding:2.5em 0 1.875em;
}

.footer-info,.copirights {
    float:left;
    width:77.0161%;
    padding-right:4.1884%;
    text-align:justify;
}

.footer-nav {
    float:left;
    width:18.3548%;
}

.footer-nav ul {
    float:left;
    margin-left:1.25em;
    width:40.6666%;
}

.footer-nav li {
    margin-bottom:8px;
}

#main-footer footer {
    border-top:1px solid #e4e4e4;
    color:#1a1a18;
    width:100%;
    padding:15px 0;
}

.content-footer {
    width:91%;
    max-width:1240px;
    margin:0 auto;
}

.copiright {
    float:left;
    width:70.6806%;
    padding-right:2.9629%;
}

#copiright-webcapitan {
    float:right;
    text-align:right;
    color:#959595;
}

#copiright-webcapitan a {
    color:#959595;
    text-decoration:none;
}

.follow-us {
    float:left;
    padding-left:1.6129%;
    width:16.3548%;
}

.follow-us ul {
    float:left;
    margin-top:3px;
}

.follow-us li {
    float:left;
    margin-left:15px;
}

.follow-us li a {
    display:inline-block;
    width:20px;
    height:16px;
    background:url(../img/sprite.png) no-repeat 5px -88px;
}

.follow-us li a:hover {
    background-position:5px -109px;
}

.follow-us li a.tw {
    background-position:0 -351px;
}

.follow-us li a.tw:hover {
    background-position:0 -372px;
}

.follow-us li a.g {
    background-position:0 -156px;
    margin-left:5px;
}

.follow-us li a.g:hover {
    background-position:0 -177px;
}

#blob {
    position:absolute;
    z-index:1;
    top:87%;
    background-color:#01a58d;
}

.previews-section h3 i {
    font-size:18px;
}

.genres-section h3,.search-stars h3 {
    float:left;
    width:56.4516%;
    padding-right:1.6129%;
}

.genres-section h3 span,.search-stars h3 span {
    text-transform:none;
}

.genres-section .sort {
    float:left;
    width:41.9354%;
    text-align:right;
    font-size:1em;
    color:#2f3d56;
}

.sort-links li {
    display:inline-block;
    border-right:1px solid #2f3d56;
    line-height:1em;
    padding:0 15px 0 12px;
}

.sort-links li.rating:after,.sort-links li.up:after {
    content:'';
    display:inline-block;
    width:14px;
    height:13px;
    background:url(../img/sprite.png) no-repeat 0 -434px;
    position:relative;
    top:3px;
    margin-left:5px;
}

.sort-links li.up:after {
    background-position:0 -457px;
}

.pagination {
    margin-top:10px;
    text-align:center;
    color:#959595;
    margin-bottom:22px;
}

.pagination a {
    min-width:14px;
    min-height:1.25em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#e3e3e3;
    border:1px solid #959595;
    color:#949494;
    text-shadow:0 1px 0 rgba(255,255,255,.75);
    text-decoration:none;
    display:inline-block;
    padding:.3125em .4em;
}

.pagination a:hover,.pagination a.active {
    color:#2f3d56;
    background-color:#c9c9c9;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
}

.pagination li {
    display:inline-block;
    margin-right:.625em;
    margin-bottom:.625em;
}

.next i,.prev i {
    display:inline-block;
    width:14px;
    height:12px;
    background:url(../img/sprite.png) no-repeat;
}

.prev i {
    background-position:0 -34px;
}

.next a:hover i {
    background-position:0 -17px;
}

.prev a:hover i {
    background-position:0 -51px;
}

.main-content>header>h2 {
    font-size:1.875em;
    color:#01a58d;
    text-shadow:0 1px 0 #fff;
    text-transform:uppercase;
}

.left-side {
    float:left;
    width:72.580645161%;
    border-right:1px solid #c9c9c9;
}

.actor-artice {
    width:97.777777777%;
    margin-right:2.222222222%;
    margin-bottom:40px;
}

.specialization {
    float:left;
    width:65.909%;
    font-size:1.125em;
    color:#2f3d56;
}

.specialization li {
    float:left;
    border-right:1px solid #2f3d56;
    line-height:1em;
    padding:0 6px 3px;
}

.specialization li:first-child {
    padding-left:0;
}

.share {
    float:right;
    color:#959595;
}

.actor-artice header {
    margin-bottom:15px;
    width:100%;
}

.share-ul a {
    float:left;
    width:20px;
    height:21px;
    background:url(../img/sprite.png) no-repeat 0 -130px;
}

.actor-artice figure {
    margin-right:2.2727%;
    width:18.1818%;
}

.born {
    float:left;
    width:100%;
    word-break:normal;
    margin:5px 0 0;
}

.born span {
    float:left;
    width:14.5857%;
    padding-right:20px;
    color:#2f3d56;
    font-weight:700;
    text-shadow:0 1px 0 #fff;
}

.born ul {
    float:left;
    width:81.8571%;
}

.about-star {
    line-height:1.2em;
    width:79.4272%;
    float:left;
}

.about-star.born {
    line-height:1.2em;
}

.about-star>span {
    color:#2F3D56;
    font-weight:700;
    text-shadow:0 1px 0 #fff;
}

.right-side {
    float:right;
    width:25.806451612%;
}

.right-side .stars-born {
    border:none;
    width:93.75%;
}

.right-side .stars-born ul {
    border:none;
    width:100%;
}

.right-side .stars-born li {
    width:93.75%;
}

.right-side .content-article {
    width:65%;
}

.right-side h3 {
    text-transform:uppercase;
    text-shadow:0 1px 0 #fff;
    font-size:1.5625em;
    margin-bottom:.72em;
}

.right-side .born {
    margin:0;
}

.margin {
    padding-bottom:40px!important;
}

.latest-movies-section .previews li {
    width:12.9032%;
    margin-right:1.209677419%;
}

.description-moovie {
    width:97.777777777%;
    margin:5px 0 40px;
}

.stream_a {
    text-decoration:none;
    display:inline-block;
    width:100%;
    margin-top:10px;
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:1.2em;
}

.description-moovie h2 {
    font-size:1.875em;
    color:#01a58d;
    text-shadow:0 1px 0 #fff;
}

.description-moovie h2 i {
    font-size:.8333em;
}

.genre {
    color:#2f3d56;
    font-size:1.125em;
    margin-bottom:18px;
}

.genre a {
    color:#2f3d56;
    text-decoration:underline;
}

.genre li {
    float:left;
    border-right:1px solid #2f3d56;
    line-height:1em;
    padding:0 5px;
}

.genre li:first-child {
    padding-right:0;
}

.description-moovie figure {
    float:left;
    margin-right:2.272727272%;
    width:25%;
}

.content-description-moovie {
    float:left;
    width:72.727272727%;
    line-height:1.2em;
}

.discription-ul {
    margin:5px 0 15px;
}

.discription-ul li .title {
    color:#2f3d56;
    font-weight:700;
    float:left;
    width:17.1875%;
    padding-right:1.5625%;
    text-shadow:0 1px 0 #fff;
}

.discription-ul li>i {
    float:left;
    width:81.25%;
}

.content-description-moovie .cover {
    position:relative;
    top:0;
    left:0;
    font-size:1.125em;
    font-weight:700;
    padding-right:40px;
    z-index:90;
}

.content-description-moovie .share {
    margin-right:0;
    float:right;
}

.content-description-moovie .cover:after {
    background:url(../img/sprite.png) no-repeat 0 -273px;
    width:29px;
    height:29px;
}

.movies-streaming-links-section h2,.video-section h3,.full-cast-section h3 {
    font-size:1.5625em;
    text-shadow:0 1px 0 #fff;
}

.video-section h3,.full-cast-section h3 {
    margin-bottom:.8em;
}

.header-div {
    position:relative;
    top:3px;
    z-index:1;
    width:59.772727272%;
    float:right;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    border:1px solid #c9c9c9;
    color:#2f3d56;
    text-shadow:0 1px 0 #fff;
    text-align:center;
    font-size:1.1em;
}

.header-div li {
    display:table-cell;
}

.header-div li:first-child {
    width:20.1%;
    border-right:1px solid #c9c9c9;
    padding:5px 2.272727272%;
}

.header-div li:nth-child(2) {
    width:60.6%;
    padding:5px 2.272727272%;
}

.header-div li:last-child,.header-div li.last {
    width:19.6%;
    border-left:1px solid #c9c9c9;
    padding:5px 2.272727272%;
}

.tr-div {
    border:1px solid #c9c9c9;
    background-color:#f1f1f1;
    text-align:center;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    font-size:1.1em;
    border-top:none;
}

.top-div {
    border:1px solid #c9c9c9;
    position:relative;
    z-index:2;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    font-size:1.1em;
}

.tr-div:hover {
    background-color:#e5edec;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
}

.tr-div>ul>li {
    border-right:1px solid #c9c9c9;
    vertical-align:middle;
    display:table-cell;
    padding:5px 2.2727%;
}

.tr-div>ul>li>a {
    font-size:.9em;
}

.tr-div>ul>li span {
    display:inline-block;
    margin-left:18px;
}

.tr-div>ul>li:first-child {
    width:40.1%;
    text-align:left;
}

.tr-div>ul>li:nth-child(2) {
    width:12%;
}

.tr-div>ul>li:nth-child(3) {
    width:36.2909%;
}

.tr-div>ul>li:last-child,.tr-div>ul>li.last {
    width:11.7%;
}

.links .vaiting {
    margin-top:5px;
}

.vaiting li {
    display:inline-block;
    margin-right:20px;
}

.vaiting li:before {
    content:'';
    display:inline-block;
    width:17px;
    height:16px;
    background:url(../img/sprite.png) no-repeat 0 -224px;
    margin-right:3px;
}

.vaiting li.video:before {
    background-position:0 -419px;
    height:10px;
    vertical-align:middle;
}

.vaiting li.volume:before {
    background-position:0 -68px;
    position:relative;
    top:3px;
}

.bottom-div {
    position:relative;
    z-index:2;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

.button {
    color:#01a58d;
    text-align:center;
    background-color:#e1e1e1;
    position:relative;
    z-index:1;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    top:-3px;
    border:1px solid #c9c9c9;
    cursor:pointer;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    font-size:1.1em;
    padding:5px 0;
}

.button:hover {
    background-color:#c9c9c9;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
}

.movies-streaming-links-section {
    margin-bottom:40px;
    width:97.777777777%;
    font-size:1em;
}

.video-section {
    margin-bottom:40px;
}

.full-cast-div li {
    float:left;
    width:31%;
    margin-right:2.2727%;
    margin-bottom:1.25em;
    color:#01a58d;
}

.full-cast-div {
    margin-bottom:1.25em;
}

.left-side .previews li {
    margin-right:1.7%;
}

.movie-discussion-section label {
    color:#01a58d;
    font-size:1.25em;
}

.movie-discussion-section dt {
    margin-bottom:5px;
}

.movie-discussion-section input,.movie-discussion-section textarea {
    height:28px;
    line-height:28px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    width:93.125%;
    background-color:#f1f1f1;
    color:#959595;
    margin-bottom:10px;
    padding:0 3.125%;
}

.movie-discussion-section textarea {
    height:4.6875em;
    line-height:1.1em;
    padding:.5em 3.125%;
}

span.error {
    display:block;
    text-align:center;
    width:93.125%;
    color:#b54c4e;
    background-color:#dda7a5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    margin-bottom:10px;
    padding:.21em .625em;
}

.movie-discussion-section form {
    border-bottom:1px solid #c9c9c9;
    margin-bottom:20px;
}

.movie-discussion-section form button {
    width:100%;
    height:30px;
    line-height:28px;
    margin-bottom:20px;
    padding:0 .625em;
}

.some-comment h6 {
    color:#2f3d56;
    font-weight:700;
    margin-bottom:1em;
}

.some-comment time {
    color:#959595;
    font-weight:400;
}

.content-comment {
    background-color:#f1f1f1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    position:relative;
    padding:.7em .625em .8em;
}

.content-comment .point {
    display:block;
    position:absolute;
    border-bottom:10px solid #f1f1f1;
    border-left:10px solid #e4e4e4;
    border-right:10px solid #e4e4e4;
    background:none;
    height:auto;
    width:auto;
    top:-10px;
    left:8%;
}

.scroll-pane {
    max-height:1720px;
}

.video-div {
    position:relative;
    overflow:hidden;
    height:0;
    padding-bottom:47.7954%;
    width:75.6363%;
    min-width:300px;
    min-height:100px;
}

.video-div iframe,.video-div object,.video-div embed {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.search-stars .stars-born {
    width:100%;
    border:none;
}

.search-stars .info-section-content {
    width:96%;
    padding-bottom:0;
}

.search-stars .stars-born li {
    width:22.5%;
}

.search-div form>ul>li:first-child {
    width:13.548387096%;
}

.search-div form>ul>li:nth-child(2) {
    width:16.774193548%;
}

.search-div form>ul>li input,.search-div form>ul>li select {
    height:28px;
    line-height:28px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#fff;
    border:1px solid #c9c9c9;
    color:#959595;
}

.search-div form>ul>li select {
    width:100%;
    height:30px;
    padding:0 1.923076923%;
}

.search-div form>ul>li input {
    width:96.153846154%;
    padding:0 1.923076923%;
}

.search-div button {
    width:90px;
    height:30px;
    line-height:28px;
    padding:0;
}

.wreper {
    border-top:1px solid #c9c9c9;
}

.autocomplete-suggestions {
    background-color:#fff;
    border:1px solid #c9c9c9;
    font-size:1.125em;
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    color:#959595;
    overflow:auto;
    padding:5px 0;
}

.autocomplete-suggestion {
    padding-left:10px;
    cursor:pointer;
    margin-bottom:5px;
}

.table-div {
    display:table;
    table-layout:fixed;
}

.play-links {
    width:50%;
    background-color:#f1f1f1;
    border:1px solid #c9c9c9;
    margin-bottom:20px;
    padding:15px 1.5625% 10px;
}

.links li {
    width:46%;
    display:inline-block;
    margin-right:3%;
    vertical-align:top;
}

.links .vaiting li {
    font-size:.4em;
    display:inline-block;
    width:auto;
}

.links li a {
    display:block;
    width:90%;
    text-align:center;
    text-decoration:none;
    color:#fff;
    font-size:1.8em;
    background-color:#4fb3d7;
    min-height:55px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:10px 5%;
}

.links li.sponsor a {
    min-height:35px;
    background-color:#01a58d;
    padding:20px 5%;
}

.links li a:hover {
    background-color:#52bce2;
}

.links li a span {
    display:inline-block;
    margin-bottom:5px;
}

.links .sponsor a {
    background-color:#4fb3d7;
}

.links .sponsor a:hover {
    background-color:#01b99e;
}

.wreper-img {
    width:16px;
    height:16px;
    float:left;
    margin-right:5px;
}

.actor-info .name {
    display:inline-block;
    color:#2f3d56;
    font-weight:700;
    padding-right:20px;
    text-shadow:0 1px 0 #fff;
    width:14.5857%;
}

.massage {
    text-align:center;
    padding:40px 20px;
}

.massage h2 {
    line-height:1.2em;
    color:#01a58d;
    text-shadow:0 1px 0 #fff;
    text-align:center;
    margin-bottom:20px;
}

.form-list li {
    display:inline-block;
    margin:20px;
}

.massage button {
    font-size:16px;
}

.tr-div>ul>li .wreper_img {
    width:14px;
    height:14px;
    display:inline-block;
    margin:0;
}

.wreper_img img {
    vertical-align:baseline;
}

.chosen-container {
    position:relative;
    vertical-align:middle;
    font-size:1em;
    zoom:1;
    display:inline;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.chosen-container .chosen-drop {
    position:absolute;
    top:100%;
    left:-9999px;
    z-index:1010;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    border:1px solid #d5d5d5;
    border-top:0;
    background:#fff;
    box-shadow:0 4px 5px rgba(0,0,0,0.15);
}

.top_header .chosen-container .chosen-drop,.block_style .chosen-container .chosen-drop,#new-deal .chosen-container .chosen-drop {
    box-shadow:none;
}

.elements_form .chosen-container-single .chosen-single {
    position:relative;
    display:block;
    overflow:hidden;
    height:52px;
    border:3px solid #2da5e7;
    background-color:#fff;
    color:#535353;
    text-decoration:none;
    white-space:nowrap;
    line-height:52px;
    font-size:13px;
    padding:0 0 0 8px;
}

.chosen-container-single .chosen-single {
    position:relative;
    display:block;
    overflow:hidden;
    border:1px solid #c9c9c9;
    color:#999;
    text-decoration:none;
    white-space:nowrap;
    line-height:28px;
    font-size:1em;
    height:28px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#fff;
    padding:0 0 0 10px;
}

.top_header .chosen-container-single .chosen-single {
    padding-left:15px;
    color:#333;
    height:28px;
    line-height:28px;
    border:1px solid #cbcbcb;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#f5f5f5;
    -moz-box-shadow:inset 2px 4px 5px rgba(0,0,0,.1);
    -webkit-box-shadow:inset 2px 4px 5px rgba(0,0,0,.1);
    box-shadow:inset 2px 4px 5px rgba(0,0,0,.1);
}

.block_style .chosen-container-single .chosen-single {
    color:#333;
    font-size:13px;
    margin-bottom:20px;
    height:30px;
    line-height:30px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#fefefe;
    -moz-box-shadow:3px 4px 0 rgba(0,0,0,.09),inset 3px 4px 5px rgba(0,0,0,.15);
    -webkit-box-shadow:3px 4px 0 rgba(0,0,0,.09),inset 3px 4px 5px rgba(0,0,0,.15);
    box-shadow:3px 4px 0 rgba(0,0,0,.09),inset 3px 4px 5px rgba(0,0,0,.15);
}

.chosen-container-single .chosen-single span {
    display:block;
    overflow:hidden;
    margin-right:30px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right:38px;
}

.chosen-container-single .chosen-single abbr {
    position:absolute;
    top:6px;
    right:26px;
    display:block;
    width:12px;
    height:12px;
    background:url(../img/chosen-sprite.png) -42px 1px no-repeat;
    font-size:1px;
}

.chosen-container-single .chosen-single div {
    position:absolute;
    top:35%;
    right:3%;
    display:block;
    width:10px;
    height:9px;
}

.my_bill_section .chosen-container-single .chosen-single div,.description-fieldset .chosen-container-single .chosen-single div,#new-deal .chosen-container-single .chosen-single div {
    border-left:none;
}

.block_style .chosen-container-single .chosen-single div {
    width:35px;
    border-color:#c7c7c7;
}

.top_header .chosen-container-single .chosen-single div {
    border-left:1px solid #cbcbcb;
    width:37px;
}

.elements_form .chosen-container-single .chosen-single div {
    width:30px;
}

.chosen-container-single .chosen-single div b {
    display:block;
    border-top:10px solid #c9c9c9;
    border-left:5px solid #fff;
    border-right:5px solid #fff;
}

.block_style .chosen-container-single .chosen-single div b,.select_div .chosen-container-single .chosen-single div b {
    background-position:center 15px;
}

.my_bill_section .chosen-container-single .chosen-single div b,.description-fieldset .chosen-container-single .chosen-single div b {
    background-position:center 10px;
}

.top_header .chosen-container-single .chosen-single div b {
    background-position:center center;
}

.chosen-container-single .chosen-search {
    position:relative;
    z-index:1010;
    white-space:nowrap;
    margin:0;
    padding:3px 4px;
}

.chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:auto;
    outline:0;
    border:1px solid #aaa;
    background:url(../img/chosen-sprite.png) no-repeat 100% -20px;
    font-size:1em;
    font-family:sans-serif;
    line-height:normal;
    border-radius:0;
    margin:1px 0;
    padding:4px 20px 4px 5px;
}

.chosen-container-single .chosen-drop {
    border-radius:0 0 4px 4px;
    background-clip:padding-box;
}

.block_style .chosen-container-single .chosen-drop {
    border-radius:0 0 15px 15px;
    background-clip:padding-box;
}

.top_header .chosen-container-single .chosen-drop {
    border-radius:0 0 15px 15px;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position:absolute;
    left:-9999px;
}

.chosen-container .chosen-results {
    position:relative;
    overflow-x:hidden;
    overflow-y:auto;
    max-height:240px;
    -webkit-overflow-scrolling:touch;
    margin:0 4px 4px 0;
    padding:0 0 0 4px;
}

.chosen-container .chosen-results li {
    color:#999;
    display:none;
    list-style:none;
    line-height:15px;
    -webkit-touch-callout:none;
    margin:0;
    padding:5px 6px;
}

.top_header .chosen-container .chosen-results li {
    color:#333;
}

.chosen-container .chosen-results li.active-result {
    display:list-item;
    cursor:pointer;
}

.chosen-container .chosen-results li.highlighted {
    background-color:#fff;
    color:#2396B4;
    text-decoration:underline;
}

.chosen-container .chosen-results li.no-results {
    display:list-item;
    background:#f4f4f4;
}

.chosen-container .chosen-results li.group-result {
    display:list-item;
    font-weight:700;
    cursor:default;
}

.chosen-container .chosen-results li.group-option {
    padding-left:15px;
}

.chosen-container .chosen-results li em {
    font-style:normal;
    text-decoration:underline;
}

.chosen-container-multi .chosen-choices {
    position:relative;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:auto!important;
    border:1px solid #aaa;
    background-color:#fff;
    background-image:linear-gradient(#eeeeee1%,#ffffff15%);
    cursor:text;
    margin:0;
    padding:0;
}

.chosen-container-multi .chosen-choices li {
    float:left;
    list-style:none;
}

.chosen-container-multi .chosen-choices li.search-field {
    white-space:nowrap;
    margin:0;
    padding:0;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:15px;
    outline:0;
    border:0!important;
    background:transparent!important;
    box-shadow:none;
    color:#666;
    font-size:100%;
    font-family:sans-serif;
    line-height:normal;
    border-radius:0;
    margin:1px 0;
    padding:5px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position:relative;
    border:1px solid #aaa;
    border-radius:3px;
    background-color:#e4e4e4;
    background-image:linear-gradient(#f4f4f420%,#f0f0f050%,#e8e8e852%,#eeeeee100%);
    background-clip:padding-box;
    box-shadow:0 0 2px #FFF inset,0 1px 0 rgba(0,0,0,0.05);
    color:#333;
    line-height:13px;
    cursor:default;
    margin:3px 0 3px 5px;
    padding:3px 20px 3px 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position:absolute;
    top:4px;
    right:3px;
    display:block;
    width:12px;
    height:12px;
    background:url(../img/chosen-sprite.png) -42px 1px no-repeat;
    font-size:1px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right:5px;
    border:1px solid #ccc;
    background-color:#e4e4e4;
    background-image:linear-gradient(top,#f4f4f420%,#f0f0f050%,#e8e8e852%,#eeeeee100%);
    color:#666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
    background:#d4d4d4;
}

.chosen-container-multi .chosen-results {
    margin:0;
    padding:0;
}

.chosen-container-active .chosen-single {
    border:1px solid #d5d5d5;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left:none;
    background:transparent;
}

.chosen-container-active .chosen-choices {
    border:1px solid #5897fb;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color:#111!important;
}

.chosen-disabled {
    opacity:0.5!important;
    cursor:default;
}

.chosen-rtl {
    text-align:right;
}

.chosen-rtl .chosen-single {
    overflow:visible;
    padding:0 8px 0 0;
}

.chosen-rtl .chosen-single span {
    margin-right:0;
    margin-left:26px;
    direction:rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
    margin-left:38px;
}

.chosen-rtl .chosen-single div {
    right:auto;
    left:3px;
}

.chosen-rtl .chosen-single abbr {
    right:auto;
    left:26px;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction:rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
    margin:3px 5px 3px 0;
    padding:3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right:auto;
    left:4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search,.chosen-rtl .chosen-drop {
    left:9999px;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin:0 0 4px 4px;
    padding:0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
    padding-right:15px;
    padding-left:0;
}

.chosen-rtl .chosen-search input[type="text"] {
    background:url(../img/chosen-sprite.png) no-repeat -30px -20px;
    direction:rtl;
    padding:4px 5px 4px 20px;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position:6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position:-12px 2px;
}

.jspContainer {
    overflow:hidden;
    position:relative;
}

.jspPane {
    position:absolute;
}

.jspVerticalBar {
    position:absolute;
    top:0;
    right:0;
    width:9px;
    height:100%;
}

.jspHorizontalBar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:16px;
    background:red;
}

.wrreper-galerey-window .jspHorizontalBar {
    height:10px;
    background-color:#f5f5f5;
}

.jspTrack {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#e4e4e4;
}

.wrreper-galerey-window .jspTrack {
    background-color:#f5f5f5;
}

.jspDrag {
    position:relative;
    top:0;
    left:0;
    cursor:pointer;
    width:6px;
    opacity:.5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#c9c9c9;
}

.wrreper-galerey-window .jspDrag {
    background-image:none;
    width:200px;
    height:8px;
    opacity:.4;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#999;
}

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
    float:left;
    height:100%;
}

.jspArrow {
    background:#50506d;
    text-indent:-20000px;
    display:block;
    cursor:pointer;
    margin:0;
    padding:0;
}

.jspArrow.jspDisabled {
    cursor:default;
    background:#80808d;
}

.jspVerticalBar .jspArrow {
    height:16px;
}

.jspHorizontalBar .jspArrow {
    width:16px;
    float:left;
    height:100%;
}

.jspVerticalBar .jspArrow:focus {
    outline:none;
}

.jspCorner {
    background:#eeeef4;
    float:left;
    height:100%;
}

* html .jspCorner {
    margin:0 -3px 0 0;
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
    border:0;
    outline:none;
    vertical-align:top;
    margin:0;
    padding:0;
}

.fancybox-wrap {
    position:absolute;
    top:0;
    left:0;
    z-index:8020;
}

.fancybox-skin {
    position:relative;
    background:#f9f9f9;
    color:#444;
    text-shadow:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.fancybox-opened {
    z-index:8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);
    -moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.fancybox-outer,.fancybox-inner {
    position:relative;
}

.fancybox-inner {
    overflow:hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling:touch;
}

.fancybox-error {
    color:#444;
    font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space:nowrap;
    margin:0;
    padding:15px;
}

.fancybox-image,.fancybox-iframe {
    display:block;
    width:100%;
    height:100%;
}

.fancybox-image {
    max-width:100%;
    max-height:100%;
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
    background-image:url(../img/fancybox_sprite.png);
}

#fancybox-loading {
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-22px;
    margin-left:-22px;
    background-position:0 -108px;
    opacity:0.8;
    cursor:pointer;
    z-index:8060;
}

#fancybox-loading div {
    width:44px;
    height:44px;
    background:url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position:absolute;
    top:-18px;
    right:-18px;
    width:36px;
    height:36px;
    cursor:pointer;
    z-index:8040;
}

.fancybox-nav {
    position:absolute;
    top:0;
    width:40%;
    height:100%;
    cursor:pointer;
    text-decoration:none;
    background:transparent url(../img/blank.gif);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    z-index:8040;
}

.fancybox-next {
    right:0;
}

.fancybox-nav span {
    position:absolute;
    top:50%;
    width:36px;
    height:34px;
    margin-top:-18px;
    cursor:pointer;
    z-index:8040;
    visibility:hidden;
}

.fancybox-prev span {
    left:10px;
    background-position:0 -36px;
}

.fancybox-next span {
    right:10px;
    background-position:0 -72px;
}

.fancybox-tmp {
    position:absolute;
    top:-99999px;
    left:-99999px;
    visibility:hidden;
    max-width:99999px;
    max-height:99999px;
    overflow:visible!important;
}

.fancybox-lock {
    overflow:hidden!important;
    width:auto;
}

.fancybox-lock body {
    overflow:hidden!important;
}

.fancybox-lock-test {
    overflow-y:hidden!important;
}

.fancybox-overlay {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    display:none;
    z-index:999999;
    background:url(../img/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position:fixed;
    bottom:0;
    right:0;
}

.fancybox-lock .fancybox-overlay {
    overflow:auto;
    overflow-y:scroll;
}

.fancybox-title {
    visibility:hidden;
    font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    text-shadow:none;
    z-index:999999;
}

.fancybox-title-float-wrap {
    position:absolute;
    bottom:0;
    right:50%;
    margin-bottom:-35px;
    z-index:8050;
    text-align:center;
}

.fancybox-title-float-wrap .child {
    display:inline-block;
    margin-right:-100%;
    background:rgba(0,0,0,0.8);
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    text-shadow:0 1px 2px #222;
    color:#FFF;
    font-weight:700;
    line-height:24px;
    white-space:nowrap;
    padding:2px 20px;
}

.fancybox-title-outside-wrap {
    position:relative;
    margin-top:10px;
    color:#fff;
}

.fancybox-title-inside-wrap {
    padding-top:10px;
}

.fancybox-title-over-wrap {
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    background:rgba(0,0,0,.8);
    padding:10px;
}

#the_share .b-share-icon_facebook,#the_share .b-share-icon_twitter,#the_share .b-share-icon_gplus {
    width:20px;
    height:21px;
    display:block;
    background:url(../img/sprite.png) no-repeat;
}

#the_share .b-share {
    vertical-align:top;
    padding:0!important;
}

#the_share .b-share .b-share__handle {
    margin-left:10px;
    padding:0!important;
}

#the_share .b-share-icon_facebook {
    background-position:0 -130px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,header,nav,section,article,aside,footer {
    display:block;
}

strong,.content-submenu li i:first-letter,.content-submenu li.active i:first-letter,.content-submenu li i:hover:first-letter,.streaming-link,.play-links b,.some-text b {
    font-weight:700;
}

hr,.sort-links li:last-child,.specialization li:last-child {
    border:none;
}

a:hover,.content-submenu li.active i,.content-submenu li:hover i,.content-submenu li.active a,.genre a:hover {
    text-decoration:none;
}

input[type=submit],.chosen-container a {
    cursor:pointer;
}

h6,#main-nav .submenu li {
    font-size:1em;
}

.some-text ul li,.previews-section>ul,.content-description-moovie .share-ul,.content-description-moovie .share-ul li,.movies-streaming-links-section h2,.vaiting,.full-cast-div ul {
    margin-bottom:0;
}

input.error,textarea.error,.add_application textarea.error,.error {
    border:1px solid #b54c4e;
}

#main-header,.previews li a figure>p,.stars-born ul,.about-star .born,.search-div,.tr-div>ul>li.stream {
    width:100%;
}

#main-nav>ul>li,.follow-us p,.left,.jspHorizontalBar .jspCap {
    float:left;
}

#main-nav .submenu li a,.submenu li a,.content-article h6 a,.tr-div a:hover {
    color:#2f3d56;
}

.column2,.column {
    display:table-cell;
    vertical-align:top;
}

.content-article h6 a:hover,.full-cast-div .content-article {
    color:#01a58d;
}

.latest-coments-preview a,.sort-links a {
    color:#2f3d56;
    text-decoration:none;
}

.latest-coments-preview a:hover,#copiright-webcapitan a:hover,.sort-links a:hover,.autocomplete-suggestion:hover,.play-links b {
    text-decoration:underline;
}

.latest-coments-preview article,.some-comment,.search-stars,.movies-streaming-links-section .margin-h {
    margin-bottom:20px;
}

.footer-nav a,.some-content a {
    color:#1a1a18;
}

.sort span,.sort-links,#the_share {
    display:inline-block;
}

.right,.chosen-rtl .chosen-choices li {
    float:right;
}

.share-ul li,.search-div form>ul>li {
    float:left;
    margin-left:10px;
}

.share-ul a.tweeter,#the_share .b-share-icon_twitter {
    background-position:0 -393px;
}

.share-ul a.google,#the_share .b-share-icon_gplus {
    background-position:0 -198px;
}

.about-star p,.filmography,.discription-ul li,.some-content,.actor-info li {
    margin-bottom:10px;
}

.genres-section,.full-cast-div .born {
    margin-top:0;
}

.latest-movies-section .previews li:nth-child(7n),.other_popular li:nth-child(7n),.genres-section .previews li:nth-child(7n) {
    margin-right:0;
}

.genre li:first-child,.genre li:last-child,.tr-div>ul>li:last-child,.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right:none;
}

.header-div ul,.tr-div>ul {
    margin-bottom:0;
    display:table;
    width:100%;
    table-layout:fixed;
}

.more,.jspCap {
    display:none;
}

.elements_form .chosen-container .chosen-drop,.elements_form .chosen-container-active .chosen-single,.elements_form .chosen-container-active.chosen-with-drop .chosen-single {
    border:3px solid #2da5e7;
}

.chosen-container.chosen-with-drop .chosen-drop,.fancybox-prev {
    left:0;
}

.chosen-container-single .chosen-default,.chosen-container-multi .chosen-choices li.search-field .default {
    color:#999;
}

.chosen-container-single .chosen-single abbr:hover,.chosen-container-single.chosen-disabled .chosen-single abbr:hover,.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position:-42px -10px;
}

.chosen-container .chosen-results li.disabled-result,.chosen-container-multi .chosen-drop .result-selected {
    display:list-item;
    color:#ccc;
    cursor:default;
}

.chosen-disabled .chosen-single,.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor:default;
}

.fancybox-nav:hover span,.fancybox-opened .fancybox-title {
    visibility:visible;
}

@media screen and max-width320px{
    .discription-ul li .title {
        width:25%;
    }

    .discription-ul li>i {
        width:73%;
    }

    .right,.content-description-moovie .share {
        float:none;
    }
}

@media screen and max-width360px{
    .header-div li:nth-child(2) {
        width:59.9%;
    }

    .header-div li {
        font-size:.8em;
    }

    .popular-movies-section .previews li,.previews li {
        width:40%;
        margin:0 6% 1.22em 0;
    }

    .latest-movies-section .previews li {
        width:40%;
        margin-right:5%;
    }

    .latest-movies-section .previews li:nth-child(7n) {
        margin-right:5%;
    }

    .content-submenu ul,.content-submenu ul:last-child {
        width:100%;
        margin:0 auto;
    }
}

@media screen and min-width361px and max-width480px{
    .born figure {
        width:18%;
    }

    .popular-movies-section .previews li,.previews li {
        width:27%;
        margin:0 4% 1.22em 0;
    }

    .latest-movies-section .previews li {
        width:27%;
        margin-right:4%;
    }

    .latest-movies-section .previews li:nth-child(7n) {
        margin-right:4%;
    }

    .content-submenu ul,.content-submenu ul:last-child {
        width:35%;
    }

    .movie-discussion-section form {
        width:80%;
    }
}

@media screen and max-width480px{
    .actor-info .name {
        width:22%;
    }

    .description {
        font-size:.8em;
    }

    .stars-born li {
        width:95%;
        margin:0 2.125% .8em 0;
    }

    .point {
        height:0;
    }

    .description-moovie figure,.actor-artice figure {
        width:100%;
        text-align:center;
        margin-bottom:20px;
    }

    .full-cast-div li {
        width:95%;
    }

    .main-content>header>h1,.genre,.video-section,.specialization {
        text-align:center;
    }

    .specialization {
        float:none;
        width:100%;
    }

    .specialization li {
        float:none;
        display:inline-block;
    }

    .genre li,.video-div {
        display:inline-block;
        float:none;
    }

    .actor-artice .share {
        float:none;
        text-align:center;
    }

    .actor-artice .share span,#the_share {
        display:inline-block;
    }

    .top-div,.tr-div,.button {
        font-size:1em;
    }

    .content-description-moovie,.about-star {
        width:100%;
    }
}

@media screen and min-width481px and max-width768px{
    .popular-movies-section .previews li,.previews li {
        width:20%;
        margin:0 3% 1.22em 0;
    }

    .latest-movies-section .previews li {
        margin-right:3%;
        width:20%;
    }

    .latest-movies-section .previews li:nth-child(7n) {
        margin-right:3%;
    }

    .description {
        font-size:1em;
    }

    .stars-born li {
        width:45%;
        margin:0 2.125% .8em 0;
    }

    .movie-discussion-section form {
        width:60%;
    }
}

@media screen and max-width600px{
    #main-nav .submenu li {
        text-align:center;
    }

    .footer-info,.copirights,.footer-nav {
        width:100%;
        padding-right:0;
    }

    .copiright,.follow-us {
        padding-right:0;
        width:100%;
        padding-left:0;
    }

    #copiright-webcapitan {
        float:none;
        text-align:left;
    }

    .copirights,.copiright {
        margin-bottom:10px;
    }
}

@media screen and min-width481px and max-width1024px{
    .full-cast-div li,.right-side .stars-born li {
        width:45%;
    }
}

@media screen and min-width600px and max-width640px{
    .description {
        font-size:.7em;
    }

    .hover-element {
        left:12%;
        top:2.1em;
    }
}

@media screen and min-width600px and max-width768px{
    .submenu {
        top:2.49em;
    }

    .content-submenu ul,.content-submenu ul:last-child {
        width:22%;
        text-align:center;
        margin:0 auto;
    }

    .content-submenu {
        text-align:left;
    }

    .copiright {
        width:100%;
    }

    #copiright-webcapitan {
        float:none;
        text-align:left;
    }

    .follow-us {
        padding-left:0;
    }

    .follow-us li {
        margin-left:0;
        margin-right:5px;
    }

    .full-cast-div li,.right-side .stars-born li {
        width:45%;
    }
}

@media screen and min-width641px and max-width768px{
    .hover-element {
        left:17%;
        top:2.1em;
    }
}

@media screen and max-width768px{
    .actor-info .name {
        width:22%;
    }

    .main-content aside:after {
        height:0;
    }

    .top-header form,#logo {
        float:none;
    }

    .top-header form {
        width:100%;
        margin:30px auto 0;
    }

    .top-header form ul {
        margin-left:0;
    }

    .top-header form li:first-child {
        width:68.875%;
        margin-left:0;
    }

    .top-header form li {
        margin-left:5.5625%;
    }

    #main-nav>ul>li>a {
        padding:.6em .8em .7em;
    }

    #main-nav>ul>li {
        float:none;
        display:inline-block;
        vertical-align:top;
    }

    #main-nav>ul>li>a:hover,#main-nav>ul>li.active>a {
        text-decoration:underline;
    }

    .content-submenu li {
        margin-bottom:1em;
    }

    .latest-coments-preview,.footer-info,.footer-nav {
        width:100%;
        padding-left:0;
    }

    .description {
        line-height:1em;
    }

    .stars-born {
        width:100%;
        border-right:none;
    }

    .left-side {
        width:100%;
        border:none;
    }

    .search-div form>ul>li {
        float:none;
        display:inline-table;
        width:40%;
    }

    .search-div form>ul>li input {
        width:95.8%;
    }

    .search-div form>ul>li:first-child,.search-div form>ul>li:nth-child(2) {
        width:80%;
        margin-bottom:10px;
    }

    .table-div .popular-movies-section,.top-header button,.popular-movies-section,.right-side,.search-div button,.genres-section h3,.search-stars h3,.genres-section .sort {
        width:100%;
    }

    .other_popular,#main-nav,.previews-section>ul,.previews-section h3,.genres-section .sort,.search-stars h3,.previews-section-h,.search-div {
        text-align:center;
    }

    #main-nav>ul,.submenu {
        font-size:1em;
    }

    .column,.column2 {
        display:block;
    }

    in-content aside,.main-content aside {
        width:90%;
        padding:.7777em 5% .6888em;
    }

    .footer-info,.search-div form>ul {
        margin-bottom:20px;
    }
}

@media screen and min-width769px and max-width1024px{
    .main-content aside {
        font-size:.93em;
    }

    .popular-movies-section .previews li {
        width:17%;
        margin-right:2.5%;
    }

    .description {
        font-size:.8em;
    }

    .previews li,.latest-movies-section .previews li {
        width:12.3032%;
        margin:0 1.70968% 1.22em 0;
    }

    .latest-movies-section .previews li {
        margin:0 1.50968% 1.22em 0;
    }

    .latest-movies-section .previews li:nth-child(7n) {
        margin-right:2.5%;
    }

    .footer-nav ul {
        margin-left:0;
        width:100%;
    }

    .copiright {
        width:100%;
        margin-bottom:10px;
    }

    #copiright-webcapitan {
        text-align:left;
        float:none;
    }

    .follow-us {
        width:18%;
        padding-left:0;
    }

    .follow-us li {
        margin-left:0;
        margin-right:5px;
    }

    .follow-us p {
        margin-bottom:10px;
    }

    .search-div form>ul>li:first-child {
        width:30%;
    }

    .search-div form>ul>li:nth-child(2) {
        width:40%;
    }

    .search-div {
        margin-bottom:20px;
    }

    .search-div form>ul>li {
        margin-left:0;
        margin-right:10px;
    }

    .genres-section h3,.search-stars h3,.genres-section .sort {
        width:100%;
    }

    .genres-section .sort {
        text-align:left;
    }
}

@media screen and min-width769px and max-width800px{
    .actor-info .name {
        width:22%;
    }

    .main-content aside:after {
        height:0;
    }

    .column {
        display:block;
    }

    .point {
        left:20%;
    }

    .main-content aside {
        width:90%;
        padding:.7777em 5% .6888em;
    }

    .popular-movies-section .previews li,.previews li {
        width:20%;
        margin:0 3% 1.22em 0;
    }

    .latest-movies-section .previews li {
        margin-right:3%;
        width:20%;
    }

    .table-div .popular-movies-section,.popular-movies-section {
        width:100%;
    }

    .previews,.previews-section h3,.genres-section .sort,.search-stars h3,.previews-section-h,.search-div,.other_popular>ul {
        text-align:center;
    }
}

@media screen and max-width980px{
    .play-links {
        width:98%;
    }
}

@media screen and min-width801px and max-width1024px{
    .point {
        left:17.5%;
    }

    .actor-info .name {
        width:20%;
    }
}

@media screen and min-width800px and max-width1024px{
    .latest-movies-section .previews li:nth-child(7n) {
        margin-right:18px;
    }
}

@media screen and min-width769px and max-width1280px{
    .stars-born li {
        width:45%;
    }

    .full-cast-div li,.right-side .stars-born li {
        width:100%;
    }
}

@media only screen and -webkit-min-device-pixel-ratio2,only screen and min-resolution144dpi{
    .chosen-rtl .chosen-search input[type="text"],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type="text"],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span {
        background-image:url(../img/chosen-sprite@2x.png)!important;
        background-size:52px 37px!important;
        background-repeat:no-repeat!important;
    }
}

@media only screen and -webkit-min-device-pixel-ratio15,only screen and min--moz-device-pixel-ratio15,only screen and min-device-pixel-ratio15{
    #fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
        background-image:url(../img/fancybox_sprite@2x.png);
        background-size:44px 152px;
    }

    #fancybox-loading div {
        background-image:url(../img/fancybox_loading@2x.gif);
        background-size:24px 24px;
    }
}